grfx/Thumbs.db
yarn-error.log
node_modules/
public/
.idea/**/*
client_secret.json
__pycache__/
**.DS_Store
.idea/
data/markdown/01_mean_temperature.md
data/markdown/02_growing_degree_days.md
data/markdown/03_heating_degree_days.md
data/markdown/04_cooling_degree_days.md
data/markdown/05_tropical_nights.md
data/markdown/06_hot_days.md
data/markdown/07_warmest_three_day_period.md
data/markdown/08_heat_waves_health.md
data/markdown/09_heat_waves_climatological.md
data/markdown/10_high_utci_days.md
data/markdown/11_frost_days.md
data/markdown/12_total_precipitation.md
data/markdown/13_maximum_five_days_precipitation.md
data/markdown/14_extreme_precipitation_total.md
data/markdown/15_frequency_of_extreme_precipitation.md
data/markdown/16_flood_recurrence_regridded.md
data/markdown/16b_mean_river_discharge_regridded.md
data/markdown/17_aridity_actual.md
data/markdown/18_consecutive_dry_days.md
data/markdown/19_duration_of_meteorological_droughts.md
data/markdown/20_magnitude_of_meteorological_droughts.md
data/markdown/21b_mean_soil_moisture.md
data/markdown/22_days_with_high_fire_danger.md
data/markdown/23_mean_wind_speed.md
data/markdown/24_extreme_wind_speed_days.md
data/markdown/25_snowfall_amount.md
data/markdown/26_period_with_snow_water_equivalent_above_a_threshold.md
data/markdown/27_relative_sea_level_rise_gridded.md
data/markdown/28_extreme_sea_level_gridded.md
data/markdown/31_dissolved_oxygen_level.md
data/markdown/32_ocean_ph_level.md
data/markdown/l1_daily_maximum_temperature.md
data/markdown/l2_daily_minimum_temperature.md
data/markdown/l3_tiger_mosquito_season_length.md
data/markdown/l4_tiger_mosquito_suitability_index.md
data/markdown/l6_fire_weather_index.md
