<div class="content-container">
    <div class="row footer-content">
        <div class="footer-credits col-md-6 col-xs-12">
            <p class="site-info">The European Climate Adaptation Platform Climate-ADAPT is a partnership between the <a
                    href="https://ec.europa.eu/" target="_blank">European Commission</a> and the <a
                    href="https://www.eea.europa.eu/" target="_blank">European Environment Agency.</a></p>
            <div class="footer-logos-wrapper">
                <a href="https://ec.europa.eu/" rel="noopener" target="_blank">
                    <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/ec_logo.svg"
                    alt="European Commission Logo" title="European Commission" width="160" height="40" class=" lazyloaded"
                    src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/ec_logo.svg">
                </a>
                <a href="https://www.eea.europa.eu/" rel="noopener" target="_blank">
                    <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/EEA-logo.png"
                    alt="EEA Logo" title="European Environment Agency" width="114" height="40" class=" lazyloaded"
                    src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/EEA-logo.png">
                </a>
            </div>
        </div>

        <div class="eu-systems col-md-6 col-xs-12">
            <div class="eu-systems-wrapper">
                <p>Other European <br> Information Systems:</p>
                <ul class="footer-logos">
                    <li class="footer-logo-item">
                        <a href="https://biodiversity.europa.eu/" rel="noopener" target="_blank">
                            <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/bise-logo.svg"
                            alt="BISE Logo" title="Biodiversity Information System for Europe" width="105" height="35"
                            class=" lazyloaded" src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/bise-logo.svg">
                        </a>
                    </li>
                    <li class="footer-logo-item">
                        <a href="https://water.europa.eu/" rel="noopener" target="_blank">
                            <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/wise-logo.png"
                                alt="WISE Logo" title="Water Information System for Europe" class=" lazyloaded"
                                src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/wise-logo.png">
                        </a>
                    </li>
                    <li class="footer-logo-item">
                        <a href="https://climate.copernicus.eu/" rel="noopener" target="_blank">
                            <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/c3s-logo.png"
                                alt="Copernicus Climate Logo" title="Climate Change Service" class=" lazyloaded"
                                src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/c3s-logo.png">
                        </a>
                    </li>
                    <li class="footer-logo-item">
                        <a href="https://drmkc.jrc.ec.europa.eu/" rel="noopener" target="_blank">
                            <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/drmkc-logo.png"
                                alt="DRMKC Logo" title="Disaster Risk Management Knowledge Centre" class=" lazyloaded"
                                src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/drmkc-logo.png">
                        </a>
                    </li>
                    <li class="footer-logo-item">
                        <a href="https://forest.eea.europa.eu/" rel="noopener" target="_blank">
                            <img data-src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/forest.svg"
                                alt="FISE Logo" title="Forest Information System for Europe" style="height:36px"
                                class=" lazyloaded"
                                src="https://climate-adapt.eea.europa.eu/cca/++theme++climateadaptv2/static/images/forest.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <i class="ss-generation-info">Page generated: <%= new Date().toLocaleString() %></i>
</div>
<script src="/js/portal.js" defer></script>